:root {
  --primary-color:#ffffff;
  --secondary-color:#000000;
}

.dark-theme {
  --primary-color:#000000;
  --secondary-color:#ffffff;
}

/* nav{
  position: static;
} */

.visible{
  display: block;
}
.search-bar-cont{
  margin: 20px 0;
}
.search-bar{
  display: flex;
  place-items: center;
  margin-top: 10px;
}
.goback-search{
  margin-right: 10px;
}
.search{
  padding: 10px;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 20px;
}

.search-input{
  background: none;
  margin-left: 5px;
  outline: none;
  width: 100%;
}
.tags{
  color: var(--secondary-color);
  padding: 5px 10px;
  /* background-color: #F3F3F3; */
  background-color: var(--primary-color);
  margin-right: 15px;
  border-radius: 5px;
  font-size: 14px;
}