:root {
  --primary-color:#ffffff;
  --secondary-color:#000000;
}

.dark-theme {
  --primary-color:#000000;
  --secondary-color:#ffffff;
}
/* HOME CONTENTS */
body{
  color: var(--secondary-color);
}

.category{
  display: flex;
  margin: 40px 0 20px;
  gap: 20px;

}
.category-link{
  color: var(--secondary-color);
  border: 1px solid #c1c1c1;
  padding: 5px 9px;
  border-radius: 50px;
  font-size: 15px;
}
.category-link:hover, .category-link.active{
  color: #c1c1c1;
  background-color: #303030;
  border: 1px solid #303030;
}
.item {
  display: inline-block;
  position: relative;
  height: 128px;
  width: 128px;
  margin: 2px 5px;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in-out 0s;
	-moz-transition   : 0.2s ease-in-out 0s;
	-o-transition     : 0.2s ease-in-out 0s;
}
.item img{
  width: 100%;
  position: absolute;
  bottom: 0;
}

.item:hover {
  -webkit-box-shadow: inset 0px 0px 12px -2px var(--secondary-color);
  -moz-box-shadow: inset 0px 0px 12px -2px var(--secondary-color);
  box-shadow: inset 0px 0px 12px -2px var(--secondary-color);
}

.item1{
  background: linear-gradient(#AC83FC00);
}
.item2{
  background: linear-gradient(#2C9072, #83FCA500);
}
.item3{
  background: #6EE8C3;
}